.DS_Store
._
__pycache__/
*.py[cod]
env/
build/
downloads/
*.log
*.pot
*.pyc
local_settings.py
.env
db.sqlite3
public/media/_temp/*
!public/media/_temp/.gitkeep
!public/media/_temp/BigSplice_ShotList.txt
node_modules
public/bundle.js
public/bundle.js.map
secrets.js
secrets.py
.bash_profile
.bashrc
