.DS_Store
._
__pycache__/
*.py[cod]
env/
build/
downloads/
*.log
*.pot
*.pyc
local_settings.py
.env
db.sqlite3
media/_temp/*
!media/_temp/.gitkeep
node_modules
public/bundle.js
public/bundle.js.map
secrets.js
secrets.py
.bash_profile
.bashrc
static/*
nginx.conf
