body {
  text-align: center;
}

.title {
  font-family: 'Molot', sans-serif;
}

.App-header {
  background-image: linear-gradient(#595c61, #0c0c0c);
  min-height: 100vh;
  background-size: 100% 200%;
  background-attachment: fixed;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-position 1.5s linear;
  overflow: hidden;
}

.App-header.playing {
  background-position: 50% 100%;
}

.App-link {
  color: #61dafb;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45vmin;
  pointer-events: none;
}

.thumbnails {
  display: flex;
}

.thumbnail-film-strip.middle {
  border-top: dashed 1em #010101;
  border-bottom: dashed 1em #010101;
  display: flex;
}

.thumbnail-film-strip.inner {
  border: solid 0.5em #010101;
  border-right: 0;
  border-left: 0;
}

.thumbnail-film-strip.outer {
  border: solid 0.5em #010101;
}

.thumbnail-wraper {
  display: flex;
}

.image-container {
  position: relative;
  display: flex;
  height: 480px;
  width: 640px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.image-container img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
}

img.visible {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
